html {
	font-family: arial; 
}

body {
	margin: 64px;
	background-color: #666;
}

h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

h1,h2 {
	color: #f3f3f3;
}

.inline-module {
	background-color: #f9f9f9;
	min-height:520px;
	width:300px;
	float: left;
	margin: 10px 20px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #999;
	padding: 48px;
}

.inline-module:nth-child(1) {
	margin-left:0px;
}

input {
	padding: 3px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
}


label {
	display: block;
	margin: 20px 0px;
}

input {
	float: right;
}

avatar span {
	padding: 4px 5px;
	margin: 0px 12px;
	border: 1px solid #999;
	border-bottom: 2px solid #999;
}

.warning {
	border: 1px solid #aaa;
	border-bottom: 2px solid #ccc;
	padding: 12px;
	text-align: center;
	background-color: #ffeeee;
}