<head>
	
</head>
<body ng-app='AddressBook'>
	Welcome to my Address Book.
	<div ng-controller="ContactList">
		<h2>Contacts</h2>
		<div class=contact ng-repeat="contact in contacts">
			 <h4>
				 {{contact.name}}
			 </h4>
			 <p>
				 {{contact.occupation}}
			 </p>
			 <p>
			 		<a href="mailto:{{contact.email}}">
						{{contact.email}}
			 		</a>
			 </p>
		</div>
	</div>
	<div ng-controller="AddContact">
		<form ng-submit="addContact()">
			<h3>Add A New Contact</h3>	
			<label>
				Name
				<input type="text" ng-model="contact.name">
			</label>
			<label>
				Age
				<input type="number" ng-model="contact.age">
			</label>
			<label for="occupation">
				Occupation
				<input type="text" ng-model="contact.occupation">
			</label>
			<label for="">
				<input type="email" ng-model="contact.email">
			</label>
			<input type=submit>Add New Contact
		</form>
		
	</div>
		
	<!-- SCRIPTZ GO HERE -->
	<script src='bower_components/angular/angular.js'></script>
	<script src='scripts/app.js'></script>
</body>